<html>
  <head>
      <title>Form</title>
  </head>
  <body>

    <div class="container">

        <h3>Form</h3> 

        <form method="POST" action="/new">
            <input>
            <input>
            <button>Submit</button>
        </form>
      
    </div>

  </body>
</html>