<html>
  <head>
      <title>Form</title>
  </head>
  <body>

    <div class="container">

        <h3>Form</h3> 

        <form method="POST" action="/new">
            <input type="text">
            <input type="text">
            <button type="submit">Submit</button>
        </form>
      
    </div>

  </body>
</html>