<html>
  <head>
      <title>Homepage</title>
  </head>
  <body>
      <div class="container">
        <h3><%= title %></h3> 
      </div>

      <% messages.forEach(message => { %>
        <div>
          <ul>
            <li><%= message.text %></li>
            <li>By: <%= message.user %></li>
            <li><%= message.added %></li>  
          </ul>
        </div>
      <% }); %>
  </body>
</html>