<html>
  <head>
      <title>Index</title>
  </head>
  <body>

    <div class="container">

      <h3><%= title %></h3> 

      <% messages.forEach(message => { %>

        <div>

          <%- include('message', { message: message }) %>

          <a href="/<%=message.id%>">
            <span>Open</span>
          </a>

        </div>

      <% }); %>

    </div>
    
  </body>

</html>