<html>
  <head>
      <title>Index</title>
  </head>
  <body>

    <div class="container">

      <h3><%= title %></h3> 

      <% messages.forEach(message => { %>
        <div>
          <ul>
            <li><%= message.text %></li>
            <li>By: <%= message.user %></li>
            <li><%= message.added %></li>  
          </ul>
        </div>
      <% }); %>

    </div>
    
  </body>
</html>